<p id="notice"><%= notice %></p>


    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Disliked..</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">Categories</a></li>
                <li><a href="/match">Matches</a></li>
                <!-- <li class="dropdown">
                  <a id="dropdown1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li> -->
                    <!-- <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <br>
    <br>
    <br>
    <h3> Start Disliking! <img id="finger1" src="http://3.bp.blogspot.com/-u4L1MqeRamU/U5hZMEDaItI/AAAAAAAAIwk/o7b_41n_Tg4/s1600/middle-finger-emoticon.png"> </h3>


    <div id ="buttons">
  <%=link_to image_tag(@topic1.img_url), add_dislike_path, params: {topic_id: @topic1.id, user_id: current_date_app.id}, class: "topic-choice" %>
</div>

<div id="button2">
  <%=link_to image_tag(@topic2.img_url), add_dislike_path, params: {topic_id: @topic2.id, user_id: current_date_app.id}, class: "topic-choice2" %>
</div>
