<h2>Set up your profile</h2>

<p>
  <strong>Name</strong>
  <%= @date_app.name %>
</p>

<p>
  <strong>Age</strong>
  <%= @date_app.name %>
</p>

<p>
  <strong>Short bio</strong>
  <%= @date_app.name %>
</p>

<p>
  <strong>Picture</strong>
  <%= @date_app.name %>
</p>
